h1{
    text-align: center;
    padding: 12px;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    margin-top: -7px;
}
#clear{
    width: 149px;
    border: 1px solid black;
    border-radius: 80px;
    padding: 14px;
    background-color: green;
    margin-left: 16px;
}
.formstyle{
    width: 300px;
    margin: auto;
    border: 3px solid slategray;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 5px;
}
input{
    width: 20px;
    border: 1px solid black;
	border-radius: 10px;
	padding: 26px;
	margin: 5px;
	background-color: gray;
	color: black;
}
.main{
	margin-top: -13x;
	margin-left: 20px;	
}
#calc{
    width: 266px;
    border: 3px solid darkgreen;
        border-radius: 3px;
        padding: 20px;
        margin-left: -5px;
        margin-top: -12px;
        background-color: whitesmoke;
    
    }